$text-color: #ACA592;
$title-color: #FFAE2B;
$bg-color: #181511;
$border-color: #4B4136;
%subtitle {
  color: $text-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: {
    family: 'Old Standard TT', serif;
    size: 12px;
    weight: 400;
  }
  background-color: $bg-color;
  color: $title-color;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__title {
  z-index: 15;
  font-size: 22px;
}

.menu {
  display: flex;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-left: 40px;
  }
  &__link {
    color: $text-color;
    line-height: 23px;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
      color: $title-color;
    }
  }
  &__link-buy {
    text-transform: uppercase;
    padding: 15px 25px;
    line-height: 22px;
    border: 1px solid $title-color;
    margin: 14px 0;
  }
  &__mobile {
    position: absolute;
    left: -100%;
  }
  &__btn {
    display: none;
  }
}

.promo {
  background: {
    image: url('../../images/main-bg.jpg');
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  min-height: 100vh;
  &__subtitle {
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 2px;
  }
  &__title {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 1px;
    color: #fff;
  }
  &__link {
    background-color: $title-color;
    color: $bg-color;
    padding: 14px 24px;
  }
  &__inner {
    text-align: center;
    padding-top: 120px;
  }
}

.pages {
  &__inner {
    text-align: center;
    padding: 120px 0;
  }
  &__subtitle {
    @extend %subtitle;
  }
  &__title {
    font-size: 60px;
  }
  &__img-column {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  &__img {
    border: 1px solid $border-color;
    max-width: 387px;
    padding: 40px 0 40px;
  }
  &__img-title {
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
  }
}

.services {
  &__inner {
    padding-top: 120px;
    text-align: center;
  }
  &__subtitle {
    @extend %subtitle;
  }
  &__title {
    font-size: 60px;
  }
  &__column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 63px;
  }
  &__img {
    border: 1px solid $border-color;
    padding: 61px;
    text-align: left;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__img-title {
    font-size: 29px;
    line-height: 40px;
  }
  &__img-subtitle {
    font-size: 15px;
    line-height: 26px;
    color: $text-color;
  }
  &__img-text {
    font-size: 11px;
    line-height: 26px;
    color: $text-color;
  }
}

.contacts {
  padding-top: 120px;
  &__links,
  &__left,
  &__mid,
  &__right {
    display: flex;
  }
  &__links {
    border: {
      top: 1px solid $border-color;
      bottom: 1px solid $border-color;
    }
    padding: 21px 0;
    justify-content: space-between;
    position: relative;
  }
  &__img-item {
    position: relative;
  }
  &__mid {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  &__title {
    font-size: 40px;
    line-height: 50px;
    z-index: 30;
  }
  &__inst-link {
    margin-top: 40px;
    padding: 14px 24px;
    background-color: $title-color;
    color: $bg-color;
    text: {
      align: center;
      transform: uppercase;
    }
    max-width: 122px;
  }
  &__img {
    &-logo {
      position: absolute;
      top: -35px;
      left: 90px;
      &-mid {
        position: absolute;
        top: 40px;
        width: 200px;
        height: 200px;
      }
    }
  }
}

.info {
  &__inner {
    padding-top: 120px;
    text-align: center;
  }
  &__contacts {
    &-title {
      font-size: 60px;
      line-height: 70px;
    }
    &-text {
      color: $text-color;
    }
  }
  &__img {
    margin: 82px 0 35px;
    text-align: center;
  }
  &__info {
    font-size: 14px;
    color: $text-color;
  }
  &__sub {
    font-size: 14px;
    color: $title-color;
  }
  &__textbox {
    position: relative;
    &::after {
      content: "“Subscribe”";
      position: absolute;
      top: -1px;
      left: 38%;
      left: 38%;
    }
    &::before {
      content: "Data Use Policy.";
      position: absolute;
      top: 10px;
      right: 38%;
    }
  }
  &__links {
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 21px 0 42px;
      gap: 0 8px;
    }
  }
}

.footer {
  &__inner {
    border-top: 1px solid $border-color;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    color: $text-color;
    &::after {
      content: "Webflow";
      color: $title-color;
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
    &-link {
      margin: 0 4px;
    }
    &-item {
      &:nth-child(2) {
        border: {
          left: 1px solid $border-color;
          right: 1px solid $border-color;
        }
      }
    }
  }
}

@media (max-width: 815px) {
  .menu {
    &__item {
      margin-left: 30px;
    }
    &__link-buy {
      padding: 10px 20px;
    }
  }
}

@media (max-width: 750px) {
  .logo__title {
    position: relative;
    left: 50%;
  }
  .menu {
    &__list {
      display: none;
    }
    &__btn {
      position: relative;
      display: flex;
      flex-direction: column;
      order: -1;
      background-color: transparent;
      border: none;
      height: 40px;
      width: 50px;
      cursor: pointer;
      z-index: 13;
      padding: 0;
      margin: 0;
      span {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $title-color;
        transition: all .3s;
      }
      span:nth-child(1) {
        top: 0;
      }
      span:nth-child(2) {
        top: 15px;
      }
      span:nth-child(3) {
        top: 15px;
      }
      span:nth-child(4) {
        top: 30px;
      }
      &.menu--click {
        span:nth-child(1) {
          transform: scaleX(0);
        }
        span:nth-child(2) {
          transform: rotate(45deg);
        }
        span:nth-child(3) {
          transform: rotate(-45deg);
        }
        span:nth-child(4) {
          transform: scaleX(0);
        }
      }
    }
    &__mobile.menu--open {
      display: flex;
      flex-direction: column;
      position: absolute;
      transition: all .5s;
      top: 0;
      bottom: 0;
      left: 0;
      right: 50%;
      background-color: #000;
    }
    &__mobile-list {
      position: absolute;
      top: 70px;
      left: -60px;
      li {
        font-size: 17px;
        margin-bottom: 30px;
        a {
          padding: 10px;
        }
      }
    }
  }
}